<!DOCTYPE html>
<html>
  <head>
    <title>Inscription TFTT</title>
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body class="is-preload">
    <div id="wrapper" class="fade-in">
      <div id="intro">
        <img
          src="./images/logo.png"
          width="200"
          height="200"
          style="margin: 30px 0px 0px 30px"
        />
        <br />
        <h1>Formulaire d'inscription</h1>
        <p>au tournoi de Tennis de Table de Thorigné Fouillard</p>
        <ul class="actions">
          <li>
            <a href="#header" class="button icon solo fa-arrow-down scrolly"
              >S'inscrire</a
            >
          </li>
        </ul>
      </div>
      <header id="header" style="display: flex; flex-direction:row; justify-content: center; align-items: flex-end;">
        <a href="./tableaux.php" style="font-size: 1em; margin-right: 60px;" class="logo">Voir les inscrits</a>
        <a href="./check.php" style="font-size: 1em;" class="logo">Vérifier mon inscription</a>
    </header>
      <div id="main">
        <article>
          <h2 class="center">Inscription</h2>

          <form method="post" action="inscript.php">
            <div class="field">
              <label for="prenom">Prénom :</label>
              <input type="text" name="prenom" id="prenom" />
            </div>
            <div class="field">
              <label for="nom">Nom :</label>
              <input type="text" name="nom" id="nom" />
            </div>
            <div class="field">
              <label for="numLic">n° De Licence :</label>
              <input type="number" name="numLic" id="numLic" />
            </div>
            <div class="field">
              <label for="nbrePts">Nombre de Points :</label>
              <input type="number" name="nbrePts" id="nbrePts" />
            </div>
            <div class="field">
              <label for="club">Nom du club :</label>
              <input type="text" name="club" id="club" />
            </div>
            <div class="field">
              <label>Nom du Premier Tableau du Samedi</label>
              <select name="tabSam1">
                <option value="">Aucun Tableau</option>
                <option value="A">Tableau A(NC à 1399) 9H</option>
                <option value="B">Tableau B(NC à 899) 10H</option>
                <option value="C">Tableau C(NC à 1899) 11H</option>
                <option value="D">Tableau D(NC à 1199) 12H</option>
                <option value="E">Tableau E(NC à 1599) 13H</option>
                <option value="F">Tableau F(NC à n°1001) 14H</option>
                <option value="G">
                  Tableau G(Benjamins et Minimes) 15H
                </option>
              </select>
            </div>
            <div class="field">
              <label>Nom du Deuxième Tableau du Samedi</label>
              <select name="tabSam2">
                <option value="">Aucun Tableau</option>
                <option value="A">Tableau A(NC à 1399) 9H</option>
                <option value="B">Tableau B(NC à 899) 10H</option>
                <option value="C">Tableau C(NC à 1899) 11H</option>
                <option value="D">Tableau D(NC à 1199) 12H</option>
                <option value="E">Tableau E(NC à 1599) 13H</option>
                <option value="F">Tableau F(NC à n°1001) 14H</option>
                <option value="G">
                  Tableau G(Benjamins et Minimes) 15H
                </option>
              </select>
            </div>
            <div class="field">
              <label>Nom du Premier Tableau du Dimanche</label>
              <select name="tabDim1">
                <option value="">Aucun Tableau</option>
                <option value="H">Tableau H(NC à 1499) 9H</option>
                <option value="I">Tableau I(NC à 999) 10H</option>
                <option value="J">Tableau J(NC à n°300) 11H</option>
                <option value="K">Tableau K(NC à 1299) 12H</option>
                <option value="L">Tableau L(NC à 1799) 13H</option>
                <option value="M">
                  Tableau M(Toutes Catégories Messieurs >1500) 14H
                </option>
                <option value="N">Tableau N(Elite Dames TC) 15H</option>
              </select>
            </div>
            <div class="field">
              <label>Nom du Deuxième Tableau du Dimanche</label>
              <select name="tabDim2">
                <option value="">Aucun Tableau</option>
                <option value="H">Tableau H(NC à 1499) 9H</option>
                <option value="I">Tableau I(NC à 999) 10H</option>
                <option value="J">Tableau J(NC à n°300) 11H</option>
                <option value="K">Tableau K(NC à 1299) 12H</option>
                <option value="L">Tableau L(NC à 1799) 13H</option>
                <option value="M">
                  Tableau M(Toutes Catégories Messieurs >1500) 14H
                </option>
                <option value="N">Tableau N(Elite Dames TC) 15H</option>
              </select>
            </div>
            <div class="center" style="width: 100%">
              <ul class="actions">
                <li><input type="submit" value="S'inscrire" /></li>
              </ul>
            </div>
          </form>
        </article>
      </div>
      <div id="copyright">
        <ul>
          <li>
            <h3>
              Si vous avez un problème avec votre inscription, veuillez me
              contacter par mail (contact@migratio.fr) ou par Messenger(<a
                href="https://www.facebook.com/messages/t/100000464042474"
              >
                Théo Laperrouse</a
              >)
            </h3>
          </li>
        </ul>
        <ul>
          <li>&copy; Thorigné Fouillard Tennis de Table</li>
          <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
