<!--TAG-CHP title-->

<div class="partner-container">
	Vous devez saisir votre compte-rendu, ainsi que la date effective du match.<br/>
	Une fois validé, vous pouvez activer la publication, elle sera alors visible sur le site du TFTT<br/>
	La dernière étape consiste à verrouiller la publication. Toute modification sera impossible ensuite.
</div>

<div class='rowChecker Actif transparent <!--TAG-CHP chkActif-->'><div class='Libelle'>Actif</div><div class='Check'></div></div>
<div class='rowChecker Locked transparent <!--TAG-CHP chkLocked-->'><div class='Libelle'>Verrouillé</div><div class='Check'></div></div>

<!--TAG-CHP Auteur-->
<div class="rowField">
	<div class="rowFieldLibelle" style="width:150px;">Date effective</div>
	<input id="DateMatch" type="text" value="<!--TAG-CHP DateMatch-->" style="width:100px;"/>
</div>
<div class="rowField">
	<h3 class="partner-title">Compte-rendu</h3>
	<textarea id="CR" style="clear:both; font-size:12px; margin-bottom:25px; max-width:800px;">
		<!--TAG-CHP CR-->
	</textarea>
</div>